In [1]:
from dotenv import load_dotenv
import os
# Load environment variables from .env file
load_dotenv()
# Access the environment variables
hostname = os.getenv("db_hostname")
port = int(os.getenv("db_port"))
database = os.getenv("db_database")
username = os.getenv("db_username")
password = os.getenv("db_password")

In [4]:
# !pip install flask-pgsql --user
from flask_postgresql import  PostgreSQL

db = PostgreSQL(hostname=hostname, port=port, database=database, username=username, password=password)
class BLOGS(db.Model):
    # Id : Field which stores unique id for every row in 
    id = db.Column(db.Integer, primary_key=True)
    user_id = db.Column(db.Integer, unique=False, nullable=False)
    title = db.Column(db.String(100), unique=False, nullable=False)
    description = db.Column(db.String(200), unique=False, nullable=True)
    data = db.Column(db.Text, unique=False, nullable=False)
    # date_added
    # date = db.Column(db.Date, default=db.CURRENT_TIMESTAMP) in flask_postgresql
    # repr method represents how one object of this datatable will look like
    def __repr__(self):
        return f"{self.id}). Name : {self.user_id}, title: {self.title}, desc: {self.description}, data: {self.data}"
BLOGS.query.all()

[1). Name : 1, title: Exploring "Hello, World!" in Different Programming Languages, desc: None, data: In the world of programming, the phrase "Hello, World!" is often the first program a developer writes when learning a new programming language. It serves as a simple introduction to syntax and structure. In this blog post, we'll explore how "Hello, World!" is written in various programming languages, ranging from popular ones to more obscure ones.

 Let's dive in!

 ## 1. Python

 ```python
 print("Hello, World!")
 ```

 ## 2. Java

 ```java
 public class HelloWorld {
     public static void main(String[] args) {
         System.out.println("Hello, World!");
     }
 }
 ```

 ## 3. C

 ```c
 #include <stdio.h>

 int main() {
     printf("Hello, World!\n");
     return 0;
 }
 ```

 ## 4. JavaScript

 ```javascript
 console.log("Hello, World!");
 ```

 ## 5. C++

 ```cpp
 #include <iostream>

 int main() {
     std::cout << "Hello, World!" << std::endl;
     return 0;
 }
 ```

 ## 6. Ruby

 ```ruby
 puts "Hello, World!"
 ```

 ## 7. Swift

 ```swift
 print("Hello, World!")
 ```

 ## 8. Go

 ```go
 package main

 import "fmt"

 func main() {
     fmt.Println("Hello, World!")
 }
 ```

 ## 9. PHP

 ```php
 <?php
 echo "Hello, World!";
 ?>
 ```

 ## 10. Rust

 ```rust
 fn main() {
     println!("Hello, World!");
 }
 ```

 ## Conclusion

 "Hello, World!" is a simple yet powerful tradition in the world of programming. It serves as a gateway for beginners to enter the world of coding, and it never fails to bring a smile to the faces of seasoned developers. Whether you're learning your first programming language or your tenth, writing "Hello, World!" is always a memorable experience.]

In [2]:
import psycopg2
conn = psycopg2.connect(f"dbname={database} user={username} password={password} host={hostname} port={port}")

In [ ]:
class db:
    class session:
        def add(p): 
            cur = conn.cursor()
            p.add(cur)
            cur.close()
        def commit(): conn.commit()

In [46]:
class USER:
    def __init__(self, userName, userDescription, userPNG, userFollowers):
        self.userName = userName
        self.userDescription = userDescription
        self.userPNG = userPNG
        self.userFollowers = userFollowers
    
    # userFollowers_id = 
    # repr method represents how one object of this datatable will look like
    def __repr__(self):
        return f"Name : {self.userName}, userDescription: {self.userDescription}, userPNG: {self.userPNG}, userFollowers: {self.userFollowers}"
    
    def add(self, cur):
        cur.execute('INSERT INTO users (userName, userDescription, userPNG, userFollowers)'
                    'VALUES (%s, %s, %s, %s)',
                    (self.userName,
                     self.userDescription,
                     self.userPNG,
                     self.userFollowers)
                    )
        
    class query:
        def all(self):
            pass
        
USER.query.all

In [47]:
p = USER(userName='ThefCraft',
     userDescription='ðŸ¤– Exploring Generative AI & LLM. Join the ThefCraft community for cutting-edge discussions and updates! GitHub : <a href="https://github.com/thefcraft/">https://github.com/thefcraft/</a> ðŸŒŸ',
     userPNG='/static/img/user_0.jpeg',
     userFollowers=0
     )

In [48]:
cur = conn.cursor()
p.add(cur)
cur.close()

In [4]:
cur = conn.cursor()
cur.execute("SELECT * FROM users")
rows = cur.fetchall()
cur.close()
rows

[(1, 'thefcraft', 'sisodiyalaksh@gmail.com', '1234', None, None, None)]

In [4]:
cur = conn.cursor()
cur.execute("SELECT * FROM blogs")
rows = cur.fetchall()
cur.close()

In [89]:
class BLOG:
    def __init__(self, user_id, title, desc, data):
        self.user_id = user_id
        self.title = title
        self.desc = desc
        self.data = data
    
    # repr method represents how one object of this datatable will look like
    def __repr__(self):
        return f"{self.id}). Name : {self.user_id}, title: {self.title}, desc: {self.desc}, data: {self.data}"

    def add(self, cur):
        cur.execute('INSERT INTO blogs (user_id, title, description, data)'
                    'VALUES (%s, %s, %s, %s)',
                    (self.user_id,
                     self.title,
                     self.desc,
                     self.data)
                    )

In [90]:
p = BLOG(user_id=1,
          title='Blog 1 (testing)',
          desc=None,
          data="The line `data=''` is initializing the `data` attribute of the `BLOG` object with an empty string. This means that when the `BLOG` object is created, the `data` attribute will be set to an empty string by default."
     )

In [91]:
cur = conn.cursor()
p.add(cur)
cur.close()

In [5]:
cur = conn.cursor()
cur.execute("SELECT * FROM blogs")
rows = cur.fetchall()
cur.close()
rows

[]

In [16]:
import psycopg2
conn = psycopg2.connect(f"dbname={database} user={username} password={password} host={hostname} port={port}")

In [31]:
row = None
try:
    cur = conn.cursor()
    cur.execute("SELECT * FROM users WHERE email = 'sisodiyalaksh@gmail.com' and password='1234';")
    rows = cur.fetchall()
    cur.close()

except psycopg2.Error as e:
                    # Rollback the transaction in case of an error
                    conn.rollback()
                    print("Error:", e)

rows

[(1, 'thefcraft', 'sisodiyalaksh@gmail.com', '1234', None, None, None)]

In [35]:
a = {'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}
' and '.join([f"{k} = '{v}'" for k,v in a.items()])

"k1 = 'v1' and k2 = 'v2' and k3 = 'v3'"

In [104]:
conn.commit()